[workers]
%{ for i in workers ~}
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} ansible_user=ubuntu
%{ endfor ~}


[masters]
%{ for i in masters ~}
${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} ansible_user=ubuntu 
%{ endfor ~}

